body {
        font-family: "Times New Roman", Times, serif;
        max-width: 50%;
        margin: auto;
        color: #333;
        background-color: skyblue;
      }

      .header {
        display: flex;
        align-items: center;
      }

      .face {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-top: 20px;
      }

      .title {
        flex: 1;
        margin-left: 20px;
      }

      .name {
        color: grey;
      }

      .coral {
        color: green;
      }

      .qualification {
        letter-spacing: 1;
      }

      .hrline {
        border: 1px solid green;
      }

      .heading {
        min-width: 300px;
        display: block;
      }

      .props {
        font-size: 22px;
        color: green;
      }

      .marginfix {
        margin-top: 20px;
      }

      .jobheading {
        font-size: 20px;
        line-height: 25px;
      }

      .jobduration {
        font-size: 300;
        font-style: italic;
        line-height: 20px;
      }

      .jobdescription {
        margin-top: 20px;
      }
